require "spec_helper"

describe Array, "#shrink" do

  property("self"){|x| not x.shrink.member?(x) }
    .check { Array.random { String.random }}
    .check { Array.random { Integer.random }}

  property("smaller"){|x| x.shrink.all?{|y| y.length <= x.length }}
    .check { Array.random { String.random }}
    .check { Array.random { Integer.random }}

end
