require "spec_helper"

describe Integer, "#shrink" do

  property("self"){|n| not n.shrink.member?(n) }
    .check { Integer.random }

  property("empty"){|n| n.shrink.to_a.empty? }
    .check(0)

  property("zero"){|n| guard(n != 0); n.shrink.member?(0) }
    .check { Integer.random }

  property("magnitude"){|n| guard(n < 0); n.shrink.all?{|m| m > n }}
    .check { Integer.random(max: -1) }

  property("magnitude"){|n| guard(n > 0); n.shrink.all?{|m| m < n }}
    .check { Integer.random(min: 1) }

end
