require "spec_helper"

describe Fr::Maybe, "#shrink" do

  property("emtpty") { Fr.none.shrink.empty? }
    .check

  property("has some") do |o|
    os = true.maybe(o).shrink
    so = true.maybe(o.shrink)
    os - [Fr.none] == [so]
  end
  .check { Integer.random }
  .check { String.random }

  property("has none") do |o|
    os = true.maybe(o).shrink
    so = true.maybe(o.shrink)
    os - [so] == [Fr.none]
  end
  .check { Integer.random }
  .check { String.random }

end
