require "spec_helper"

describe Propr::Maybe, "#shrink" do

  property("emtpty") { Propr::None.shrink.empty? }
    .check

  property("has some") do |o|
    os = true.maybe(o).shrink
    so = true.maybe(o.shrink)
    os - [Propr::None] == [so]
  end
  .check { Integer.random }
  .check { String.random }

  property("has none") do |o|
    os = true.maybe(o).shrink
    so = true.maybe(o.shrink)
    os - [so] == [Propr::None]
  end
  .check { Integer.random }
  .check { String.random }

end
