require "spec_helper"

describe Array, ".random" do

  describe "min and max" do
    property("bounded"){|a,b| guard a <= b; m.eval(Array.random(min: a, max: b) { m.unit nil }).length >= a }
      .check{ sequence [Integer.random(min: -50, max: 10), Integer.random(min: 0, max: 50)] }

    property("bounded"){|a,b| guard a <= b; m.eval(Array.random(min: a, max: b) { m.unit nil }).length <= b }
      .check{ sequence [Integer.random(min: -50, max: 10), Integer.random(min: 0, max: 50)] }

    # @todo: only run once
    property("empty"){|xs| xs.empty? }
      .check{ Array.random(min: 0, max: 0) { unit nil }}

    # @todo: only run once
    property("singleton"){|xs| xs == [nil] }
      .check{ Array.random(min: 1, max: 1) { unit nil }}
  end

  describe "items" do
    property("sequence"){|xs| xs.uniq.length == xs.length }
      .check{ x = 0; Array.random { unit(x += 1) }}

    property("sequence"){|xs| guard(!xs.empty?); xs.first == 1 }
      .check{ x = 0; Array.random { unit(x += 1) }}

    property("sequence"){|xs| xs.empty? or xs.last == xs.length }
      .check{ x = 0; Array.random { unit(x += 1) }}

    property("repeat"){|xs| xs.uniq.length <= 1 }
      .check{ Array.random { unit(100) }}

    property("repeat"){|xs| xs == [100]*xs.length }
      .check{ Array.random { unit(100) }}
  end

end
