require "spec_helper"

describe Integer, ".random" do

  property("min"){|n| n >= 0 }
    .check{ Integer.random(min: 0) }

  property("max"){|n| n <= 0 }
    .check{ Integer.random(max: 0) }

  property("min and max"){|n| n <= 10 and n >= -10 }
    .check{ Integer.random(min: -10, max: 10) }

  property("min and max"){|n| n <= 10 and n >= -10 }
    .check{ Integer.random(min: -10, max: 10) }

  property("min == max"){|n| Integer.random(min: n, max: n) == n }
    .check{ Integer.random }

  property("min <= max"){|a,b| guard a > b; fails? { Integer.random(min: a, max: b) }}
    .check{ [Integer.random, Integer.random] }

end
