require "spec_helper"

describe Propr, "guard" do

  # @todo: Not happy with this scoping issue. We should
  # be able to use let(:int) { ... } instead.
  def self.int
    (0..100).random
  end

  property("callable from property") do
    guard(true)
    true
  end.check

  property("callable from check") do
    true
  end.check { guard(true) }

  property("skips test on unsuitable input") do |n|
    guard(n > 10)
    n > 10
  end.check { int }

  property("supresses unsuitable input") do |n|
    n > 10
  end.check { bind(int){|n| bind(guard(n > 10)) { unit(n) }}}

  property("conjunction") do |n|
    guard(n > 10, n < 90)
    n > 10 && n < 90
  end.check { int }

  property("conjunction") do |n|
    n > 10 && n < 90
  end.check { bind(int){|n| bind(guard(n > 10, n < 90)) { unit(n) }}}

end
