require "spec_helper"

describe Propr do
  include Propr::RSpec

  # Define a property
  p = property("append") {|xs, ys| xs.length + ys.length == (xs + ys).length }
 
  # Check particular inputs
  p.check("abc", "")
  p.check("", "xyz")

  # Check randomized inputs
  p.check{|rand| [rand.string, rand.string] }
  p.check{|rand| [rand.array, rand.array] }

end
