require "spec_helper"

describe Propr do
  include Propr::RSpec(Propr::Base.new)

  # Define a property
  append = property("append") {|xs, ys| xs.length + ys.length == (xs + ys).length }
 
  # Check particular inputs
  append.
    check("abc", "").
    check("", "xyz").
    # Check randomized inputs
    check{|p| [p.string, p.string] }.
    check{|p| [p.array, p.array] }

end
