require "spec_helper"

describe Range, "generating" do

  context "min" do
    property("bounded"){|n| Range.propr(min: n).first >= n }
      .check{|s| Integer.propr }
  end

  context "max" do
    property("bounded"){|n| Range.propr(max: n).last <= n }
      .check{|s| Integer.propr }
  end

  context "min and max" do
    property("bounded"){|a,b| Range.propr(min: a, max: b).first >= a }
      .check{|s| s.guard([Integer.propr, Integer.propr], &:<=) }

    property("bounded"){|a,b| Range.propr(min: a, max: b).last <= b }
      .check{|s| s.guard([Integer.propr, Integer.propr], &:<=) }
  end

  context "inclusive?" do
    property("true"){|r| not r.exclude_end? }
      .check{|s| Range.propr(inclusive?: true, min: -5, max: 5) }

    property("false"){|r| r.exclude_end? }
      .check{|s| Range.propr(inclusive?: false, min: -5, max: 5) }
  end

  context "block" do
    specify "called twice" do
      count = 0
      range = Range.propr(inclusive?: true) { count += 1 }
      range.should == (1..2)
    end
  end

  specify "args required" do
    lambda { Range.propr }.should raise_error
  end

end
