require "spec_helper"

describe Array, "#random" do

  property("empty") { error? { Array.new.random }}
    .check

  property("member?"){|xs| guard(!xs.empty?); xs.member?(m.eval xs.random) }
    .check { Array.random { Integer.random }}
    .check { Array.random { String.random }}

end
