require "spec_helper"

describe Hash, "#random" do

  property("empty") { error? { Hash.new.random }}
    .check

  property("member?"){|xs| guard(!xs.empty?); k, v = m.eval(xs.random); xs.member?(k) }
    .check { Hash.random { sequence [Integer.random, String.random] }}
    .check { Hash.random { sequence [String.random, Integer.random] }}

end
